@import '../../styles/index.scss';

header{
    background-color: $almost-black;
    position: relative;
    font-family: 'Glypha-LT';
    @include sizes('mobile'){
        height: 500px;
    }
    .image_container {
		img {
            @include sizes(('md','lg','xl')){
                object-fit: cover;
                height: 800px;
            }
            height: 600px;
			object-fit: contain;
            min-width: 100%;
            opacity: 0.8;
            height: auto;
		}
    }
    
 .green_footer{
        position: absolute;
        bottom: 0;
        background-color: #6da608;
        width: 100%;
        @include sizes('mobile'){
            height: 50%;
        }
        height: 25%;
  }

  .text_container{
      position: absolute;
      width: 100%;
      height:50%;
      @include sizes('mobile'){
          height: 80%;
      }
      bottom: 0;
      color:white;
      //background-color: lime;
      align-items: center;
      display: flex;
      .row{
         
          display: flex;
          width: 100%;
          margin: 0 10% 0 10%;
          letter-spacing: 1px;
          flex-wrap: wrap;
        .column1{
            flex: 1;
            .title_text{
                display: flex;
                flex-direction: column;           
                text-align: left;
                h1,p{
                    margin:0;
                }
                h1{
                    font-size: 65px;
                    font-weight: bold;
                }
                p{
                    font-size: 22px;
                }
            }
        }
        .column2{
            @include sizes('desktop'){
                 flex: 1;
            }
       
        display: flex;
        align-items: flex-end;
        justify-content: center;
        text-align: left;

        p{
            font-family: 'Trebuchet MS';
            font-size: 18px;
            margin: 0;
        }
        }
    }
    
  }
}


