@import "../../styles/index.scss";
.test {
  height: 500px;
}
.produtos {
  min-height: 800px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  margin: $global-margin;

  .title {
    h4 {
      font-family: "Glypha-LT";
      font-weight: bold;
      font-size: 32px;
      margin-bottom: 50px;
    }
  }

  a:hover {
    color: transparent;
  }
  .carousel {
    position: relative;
    display: flex;
    align-items: center;
    :global(.owl-stage-outer) {
      color: red;
      :global(.owl-stage) {
        height: 100%;
        width: 100%;
        :global(.owl-item) {
          display: flex;
          justify-content: center;
          height: 100%;
        }
        :global(.owl-item.active) {
          width: 550px;
        }
      }
    }
    :global(.arrows) {
      position: absolute;
      top: 50%;
      color: $base-green;
      width: 100%;
      display: flex;
      justify-content: space-between;
      @include sizes("mobile") {
        i.fa-2x {
          font-size: 1em;
        }
      }

      :global(.owl-prev) {
        cursor: pointer;
        position: absolute;
        @include sizes("mobile") {
          left: -40px;
        }
        left: -50px;
      }
      :global(.owl-next) {
        cursor: pointer;
        position: absolute;
        @include sizes("mobile") {
          right: -40px;
        }
        right: -50px;
      }
    }
    @include sizes("mobile") {
      :global(.owl-item.active) {
        width: 375px;
      }
    }

    .item {
      display: flex;
      align-items: center;
      border: 2px solid $base-grey;
      img.produtos_images {
        max-width: 100%;
        height: auto;
        width: 500px;
      }
    }
  }
  .product_wrapper {
    display: flex;
    width: 100%;
    align-items: flex-end;
    .product_description {
      flex: 3;
      height: 70px;
      color: white;
      background-color: $product-description;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @include sizes("desktop") {
        padding-left: 20px;
      }
      .text {
        font-size: 15px;
      }
      .ref {
        font-size: 15px;
      }
      .text,
      .ref {
        width: 100%;
        text-align: left;
      }
    }
    .price_block {
      flex: 1;
      .price_wrapper {
        display: flex;
        justify-content: center;
        color: white;
        .old_price {
          flex: 1;
          background-color: $old-price;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 18px;
          height: 50px;
          .line {
            width: 60%;
            height: 3px;
            background: #fff;
            position: absolute;
            left: 25%;
            top: 45%;
            transform: rotate(155deg);
          }
        }
        .percentage_price {
          flex: 1;
          font-size: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $discont;
        }
      }
      .new_price {
        height: 70px;
        min-width: 120px;
        font-size: 45px;
        font-family: "Glypha-LT";
        font-weight: 700;
        background-color: $new-price;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $old-price;
        .euro {
          font-size: 25px;
        }
        .euro {
          display: contents;
        }
        .cent {
          font-size: 17px;
          align-self: flex-start;
        }
      }
    }
  }
}
